{
  "openapi": "3.1.0",
  "info": {
    "title": "Demeu API",
    "version": "1.0.0",
    "description": "Фактический контракт Demeu. MIS использует pull + ACK; live external acceptance remains separate."
  },
  "servers": [
    {
      "url": "https://specimen-ai.govtech-kz.com",
      "description": "Configured production origin; verify exact release before use."
    }
  ],
  "tags": [
    {
      "name": "system"
    },
    {
      "name": "patient"
    },
    {
      "name": "auth"
    },
    {
      "name": "intakes"
    },
    {
      "name": "referrals"
    },
    {
      "name": "analytics"
    },
    {
      "name": "models"
    },
    {
      "name": "reference"
    },
    {
      "name": "mis"
    }
  ],
  "paths": {
    "/api/healthz": {
      "get": {
        "operationId": "health",
        "tags": [
          "system"
        ],
        "summary": "Проверить liveness",
        "description": "Возвращает версию сборки и готовность режима обработки без платного сетевого вызова.",
        "security": [],
        "parameters": [
          {
            "name": "probe",
            "in": "query",
            "required": false,
            "description": "Опциональная глубокая проверка; может выполнить один платный вызов только при корректном proof.",
            "schema": {
              "type": "string",
              "enum": [
                "extract"
              ]
            }
          },
          {
            "name": "x-demeu-health-proof",
            "in": "header",
            "required": false,
            "description": "Требуется для probe=extract во внешнем LLM режиме; вычисляется из ключа и commit.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Процесс отвечает.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "commit": {
                      "type": "string"
                    },
                    "model_version": {
                      "type": "string"
                    },
                    "llm_ok": {
                      "type": "boolean"
                    },
                    "processing_mode": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "commit": "a1b2c3d",
                  "model_version": "lr-v1",
                  "llm_ok": true,
                  "processing_mode": "external_llm"
                }
              }
            }
          },
          "404": {
            "description": "response: Только глубокая проверка: тот же health body с llm_ok=false, если доказательство неверно или контур не готов.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "ok": {
                          "type": "boolean"
                        },
                        "commit": {
                          "type": "string"
                        },
                        "model_version": {
                          "type": "string"
                        },
                        "llm_ok": {
                          "type": "boolean"
                        },
                        "processing_mode": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "ok",
                        "commit",
                        "model_version",
                        "llm_ok",
                        "processing_mode"
                      ]
                    }
                  ]
                },
                "examples": {
                  "response1": {
                    "value": {
                      "ok": true,
                      "commit": "a1b2c3d",
                      "model_version": "lr-v1",
                      "llm_ok": false,
                      "processing_mode": "external_llm"
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "public",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": false,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        },
        "x-demeu-deep-health-proof": {
          "query": "probe=extract",
          "header": "x-demeu-health-proof",
          "externalMode": "required",
          "deterministicMode": "not-required"
        }
      }
    },
    "/api/link": {
      "post": {
        "operationId": "createLink",
        "tags": [
          "patient"
        ],
        "summary": "Создать ссылку пациенту",
        "description": "В рабочем режиме связывает новый токен с текущим врачом. В legacy-режиме принимает код доступа.",
        "security": [
          {
            "WorkspaceCookie": []
          },
          {
            "LegacyDoctorCode": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {},
                "required": []
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Токен для ссылки /c/{token}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "token": "7fa31c2b940e4a71"
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Врач не вошёл или код доступа неверен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Врач не вошёл или код доступа неверен."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Роль аналитика не создаёт ссылки.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Роль аналитика не создаёт ссылки."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "OWNER_CONFLICT: Сгенерированный токен уже принадлежит другому врачу.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "OWNER_CONFLICT": {
                    "value": {
                      "code": "OWNER_CONFLICT",
                      "error": "Сгенерированный токен уже принадлежит другому врачу."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: Лимит создания ссылок превышен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "error": "Лимит создания ссылок превышен."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Не удалось создать или привязать ссылку.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Не удалось создать или привязать ссылку."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Конфигурация рабочего пространства неполна.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Конфигурация рабочего пространства неполна."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "conditional",
        "x-demeu-roles": [
          "doctor"
        ],
        "x-demeu-same-origin-required": {
          "workspace": true,
          "legacyDoctorCode": false
        },
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "token-bucket",
          "capacity": 10,
          "refillWindowSeconds": 60,
          "key": "client-ip",
          "storage": "process-local"
        }
      }
    },
    "/api/chat/start": {
      "post": {
        "operationId": "chatStart",
        "tags": [
          "patient"
        ],
        "summary": "Открыть опрос",
        "description": "Проверяет токен, создаёт сессию и без обращения к модели возвращает приветствие.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "token": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{16}$"
                  },
                  "language": {
                    "type": "string",
                    "enum": [
                      "ru",
                      "kk"
                    ]
                  }
                },
                "required": [
                  "token"
                ]
              },
              "example": {
                "token": "7fa31c2b940e4a71",
                "language": "ru"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Сессия создана, приветствие готово.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    },
                    "reply": {
                      "type": "string"
                    },
                    "turnsLeft": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "sessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                  "reply": "Здравствуйте! Что вас беспокоит?",
                  "turnsLeft": 20
                }
              }
            }
          },
          "400": {
            "description": "TOKEN_REQUIRED: Токен отсутствует или имеет неверный формат.; BAD_REQUEST: Язык или JSON не прошли проверку.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "TOKEN_REQUIRED": {
                    "value": {
                      "code": "TOKEN_REQUIRED",
                      "error": "Токен отсутствует или имеет неверный формат."
                    }
                  },
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "Язык или JSON не прошли проверку."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Запрос пришёл не с разрешённого origin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Запрос пришёл не с разрешённого origin."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "TOKEN_NOT_FOUND: Ссылка неизвестна или больше не действует.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "TOKEN_NOT_FOUND": {
                    "value": {
                      "code": "TOKEN_NOT_FOUND",
                      "error": "Ссылка неизвестна или больше не действует."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "LINK_ALREADY_USED: Одноразовая ссылка уже была использована.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "LINK_ALREADY_USED": {
                    "value": {
                      "code": "LINK_ALREADY_USED",
                      "error": "Одноразовая ссылка уже была использована."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE: Тело превышает 16 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BODY_TOO_LARGE": {
                    "value": {
                      "code": "BODY_TOO_LARGE",
                      "error": "Тело превышает 16 KiB."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка создания сессии.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка создания сессии."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Защищённый режим не настроен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Защищённый режим не настроен."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "conditional",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/chat/resume": {
      "post": {
        "operationId": "chatResume",
        "tags": [
          "patient"
        ],
        "summary": "Восстановить вкладку",
        "description": "Возвращает безопасное состояние активной или завершённой сессии без врачебных полей в terminal response.",
        "security": [
          {
            "PatientChatCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{16}$"
                  },
                  "requestId": {
                    "type": "string"
                  }
                },
                "required": [
                  "sessionId",
                  "token"
                ]
              },
              "example": {
                "sessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                "token": "7fa31c2b940e4a71"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Сообщения и безопасное состояние пациента.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    },
                    "language": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "turnsLeft": {
                      "type": "integer"
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "role": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "sessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                  "language": "ru",
                  "status": "collecting",
                  "turnsLeft": 14,
                  "messages": [
                    {
                      "role": "assistant",
                      "content": "Здравствуйте! Что вас беспокоит?"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: JSON или ключ повтора не прошли проверку.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "JSON или ключ повтора не прошли проверку."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Cookie или токен не соответствуют сессии.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Cookie или токен не соответствуют сессии."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Origin не совпал.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Origin не совпал."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND: Восстановление недоступно в legacy-режиме.; SESSION_NOT_FOUND: Сессия истекла или удалена.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "code": "NOT_FOUND",
                      "error": "Восстановление недоступно в legacy-режиме."
                    }
                  },
                  "SESSION_NOT_FOUND": {
                    "value": {
                      "code": "SESSION_NOT_FOUND",
                      "error": "Сессия истекла или удалена."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "IDEMPOTENCY_CONFLICT: Ключ повтора уже связан с другим телом.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IDEMPOTENCY_CONFLICT": {
                    "value": {
                      "code": "IDEMPOTENCY_CONFLICT",
                      "error": "Ключ повтора уже связан с другим телом."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE: Тело превышает 16 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BODY_TOO_LARGE": {
                    "value": {
                      "code": "BODY_TOO_LARGE",
                      "error": "Тело превышает 16 KiB."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка чтения сессии.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка чтения сессии."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Защищённый режим не настроен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Защищённый режим не настроен."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "patient",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/chat": {
      "post": {
        "operationId": "chatTurn",
        "tags": [
          "patient"
        ],
        "summary": "Отправить реплику",
        "description": "Проводит один ход. При красном флаге или hard cap тот же ответ может завершить сессию.",
        "security": [
          {
            "PatientChatCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "requestId": {
                    "type": "string"
                  }
                },
                "required": [
                  "sessionId",
                  "message"
                ]
              },
              "example": {
                "sessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                "message": "Сильная давящая боль в груди и тяжело дышать",
                "requestId": "turn-demo-000001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Следующий вопрос или безопасное завершение.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "reply": {
                      "type": "string"
                    },
                    "done": {
                      "type": "boolean"
                    },
                    "turnsLeft": {
                      "type": "integer"
                    },
                    "closing": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "emergency": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "reply": "Спасибо. Передаю ответы врачу.",
                  "done": true,
                  "turnsLeft": 0,
                  "closing": {
                    "emergency": true,
                    "text": "Ваши ответы переданы врачу."
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: JSON или ключ повтора не прошли проверку.; SESSION_ID_REQUIRED: Идентификатор отсутствует.; MESSAGE_REQUIRED: Сообщение пустое, слишком длинное или неверного типа.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "JSON или ключ повтора не прошли проверку."
                    }
                  },
                  "SESSION_ID_REQUIRED": {
                    "value": {
                      "code": "SESSION_ID_REQUIRED",
                      "error": "Идентификатор отсутствует."
                    }
                  },
                  "MESSAGE_REQUIRED": {
                    "value": {
                      "code": "MESSAGE_REQUIRED",
                      "error": "Сообщение пустое, слишком длинное или неверного типа."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Нет capability-cookie этой сессии.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Нет capability-cookie этой сессии."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Origin не совпал.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Origin не совпал."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "SESSION_NOT_FOUND: Сессия неизвестна или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "SESSION_NOT_FOUND": {
                    "value": {
                      "code": "SESSION_NOT_FOUND",
                      "error": "Сессия неизвестна или истекла."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "IDEMPOTENCY_CONFLICT: Ключ повтора уже связан с другим телом.; SESSION_COMPLETED: Сессия уже завершена.; TURN_PENDING: Предыдущая реплика ещё обрабатывается.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IDEMPOTENCY_CONFLICT": {
                    "value": {
                      "code": "IDEMPOTENCY_CONFLICT",
                      "error": "Ключ повтора уже связан с другим телом."
                    }
                  },
                  "SESSION_COMPLETED": {
                    "value": {
                      "code": "SESSION_COMPLETED",
                      "error": "Сессия уже завершена."
                    }
                  },
                  "TURN_PENDING": {
                    "value": {
                      "code": "TURN_PENDING",
                      "error": "Предыдущая реплика ещё обрабатывается."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE: Тело превышает 16 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BODY_TOO_LARGE": {
                    "value": {
                      "code": "BODY_TOO_LARGE",
                      "error": "Тело превышает 16 KiB."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "LLM_UNAVAILABLE: Диалоговый слой недоступен после ретрая.; ANALYZE_FAILED: Не удалось собрать итог даже на правилах.; INTERNAL: Внутренняя ошибка сохранения хода.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "LLM_UNAVAILABLE": {
                    "value": {
                      "code": "LLM_UNAVAILABLE",
                      "error": "Диалоговый слой недоступен после ретрая."
                    }
                  },
                  "ANALYZE_FAILED": {
                    "value": {
                      "code": "ANALYZE_FAILED",
                      "error": "Не удалось собрать итог даже на правилах."
                    }
                  },
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка сохранения хода."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Защищённый режим не настроен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Защищённый режим не настроен."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "patient",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/chat/finalize": {
      "post": {
        "operationId": "chatFinalize",
        "tags": [
          "patient"
        ],
        "summary": "Завершить опрос",
        "description": "Идемпотентно собирает результат и ставит доставку врачу; повтор не создаёт второе уведомление.",
        "security": [
          {
            "PatientChatCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "requestId": {
                    "type": "string"
                  }
                },
                "required": [
                  "sessionId"
                ]
              },
              "example": {
                "sessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                "requestId": "finalize-demo-001"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Пациент получает только безопасный closing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "replayed": {
                      "type": "boolean"
                    },
                    "closing": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "emergency": {
                          "type": "boolean"
                        },
                        "text": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "replayed": false,
                  "closing": {
                    "emergency": false,
                    "text": "Спасибо. Ваши ответы переданы врачу."
                  }
                }
              }
            }
          },
          "400": {
            "description": "SESSION_ID_REQUIRED: Идентификатор отсутствует.; BAD_REQUEST: В сессии пока нечего анализировать или ключ повтора неверен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "SESSION_ID_REQUIRED": {
                    "value": {
                      "code": "SESSION_ID_REQUIRED",
                      "error": "Идентификатор отсутствует."
                    }
                  },
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "В сессии пока нечего анализировать или ключ повтора неверен."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Нет capability-cookie этой сессии.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Нет capability-cookie этой сессии."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Origin не совпал.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Origin не совпал."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "SESSION_NOT_FOUND: Сессия неизвестна или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "SESSION_NOT_FOUND": {
                    "value": {
                      "code": "SESSION_NOT_FOUND",
                      "error": "Сессия неизвестна или истекла."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "SESSION_COMPLETED: Сессия была прервана и закрыта.; IDEMPOTENCY_CONFLICT: Ключ повтора уже связан с другим телом.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "SESSION_COMPLETED": {
                    "value": {
                      "code": "SESSION_COMPLETED",
                      "error": "Сессия была прервана и закрыта."
                    }
                  },
                  "IDEMPOTENCY_CONFLICT": {
                    "value": {
                      "code": "IDEMPOTENCY_CONFLICT",
                      "error": "Ключ повтора уже связан с другим телом."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE: Тело превышает 16 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BODY_TOO_LARGE": {
                    "value": {
                      "code": "BODY_TOO_LARGE",
                      "error": "Тело превышает 16 KiB."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "ANALYZE_FAILED: Не удалось собрать даже результат на правилах.; INTERNAL: Внутренняя ошибка проверки защищённой сессии.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "ANALYZE_FAILED": {
                    "value": {
                      "code": "ANALYZE_FAILED",
                      "error": "Не удалось собрать даже результат на правилах."
                    }
                  },
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка проверки защищённой сессии."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Защищённый режим не настроен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Защищённый режим не настроен."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "patient",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/workspace/auth": {
      "get": {
        "operationId": "authState",
        "tags": [
          "auth"
        ],
        "summary": "Прочитать текущую роль",
        "description": "Используется shell рабочего пространства до показа персональных разделов.",
        "security": [
          {},
          {
            "WorkspaceCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Состояние конфигурации и текущий actor либо null.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "actor": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "organizationDisplayName": {
                          "type": "string"
                        },
                        "access": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "personalRecords": {
                              "type": "string"
                            },
                            "aggregateRecords": {
                              "type": "string"
                            },
                            "aggregatePrivacy": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "enabled": true,
                  "actor": {
                    "id": "doctor-demo",
                    "displayName": "Дежурный врач",
                    "role": "doctor",
                    "organizationId": "test-neuro",
                    "organizationDisplayName": "Test Neuro",
                    "access": {
                      "personalRecords": "own",
                      "aggregateRecords": "own",
                      "aggregatePrivacy": "direct"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Непредвиденная ошибка чтения состояния.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Непредвиденная ошибка чтения состояния."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "conditional",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": false,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      },
      "post": {
        "operationId": "authLogin",
        "tags": [
          "auth"
        ],
        "summary": "Войти",
        "description": "Проверяет учётную запись и устанавливает подписанную HttpOnly cookie на восемь часов.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "password"
                ]
              },
              "example": {
                "id": "doctor-demo",
                "password": "<password>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actor и Set-Cookie.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "actor": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "organizationId": {
                          "type": "string"
                        },
                        "organizationDisplayName": {
                          "type": "string"
                        },
                        "access": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "personalRecords": {
                              "type": "string"
                            },
                            "aggregateRecords": {
                              "type": "string"
                            },
                            "aggregatePrivacy": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "actor": {
                    "id": "doctor-demo",
                    "displayName": "Дежурный врач",
                    "role": "doctor",
                    "organizationId": "test-neuro",
                    "organizationDisplayName": "Test Neuro",
                    "access": {
                      "personalRecords": "own",
                      "aggregateRecords": "own",
                      "aggregatePrivacy": "direct"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Форма не соответствует строгой схеме.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "Форма не соответствует строгой схеме."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Учётные данные не подошли.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Учётные данные не подошли."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Origin не совпал.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Origin не совпал."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE: Тело превышает 4 KiB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BODY_TOO_LARGE": {
                    "value": {
                      "code": "BODY_TOO_LARGE",
                      "error": "Тело превышает 4 KiB."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "RATE_LIMITED: Слишком много попыток входа.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "RATE_LIMITED": {
                    "value": {
                      "code": "RATE_LIMITED",
                      "error": "Слишком много попыток входа."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Файл аккаунтов или секрет недоступен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Файл аккаунтов или секрет недоступен."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "conditional",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "token-bucket",
          "capacity": 10,
          "refillWindowSeconds": 60,
          "key": "client-ip",
          "storage": "process-local"
        }
      },
      "delete": {
        "operationId": "authLogout",
        "tags": [
          "auth"
        ],
        "summary": "Выйти",
        "description": "Обнуляет cookie текущего рабочего пространства.",
        "security": [],
        "responses": {
          "200": {
            "description": "Cookie очищена.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Origin не совпал.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Origin не совпал."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Сервер не может проверить origin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Сервер не может проверить origin."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "conditional",
        "x-demeu-roles": [],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/workspace/intakes": {
      "get": {
        "operationId": "intakesList",
        "tags": [
          "intakes"
        ],
        "summary": "Список опросов врача",
        "description": "Owner видит организацию, doctor — только свои записи; analyst персональный слой не получает.",
        "security": [
          {
            "WorkspaceCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Новые сначала; результат присутствует только у завершённых сессий.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "intakes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "sessionId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "deliveryStatus": {
                            "type": "string"
                          },
                          "referralId": {},
                          "result": {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                              "urgency": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "intakes": [
                    {
                      "sessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                      "createdAt": 1789897200000,
                      "status": "completed",
                      "deliveryStatus": "sent",
                      "referralId": null,
                      "result": {
                        "urgency": "emergency",
                        "source": "rules_only"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Сессия врача отсутствует или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Сессия врача отсутствует или истекла."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Analyst не получает персональный список.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Analyst не получает персональный список."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка чтения.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка чтения."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Рабочее пространство недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Рабочее пространство недоступно."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "workspace",
        "x-demeu-roles": [
          "owner",
          "doctor"
        ],
        "x-demeu-same-origin-required": false,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/workspace/intakes/{id}": {
      "get": {
        "operationId": "intakeDetail",
        "tags": [
          "intakes"
        ],
        "summary": "Карточка опроса",
        "description": "Возвращает полную врачебную сводку только владельцу записи или owner той же организации.",
        "security": [
          {
            "WorkspaceCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Сессия, доставка, связанное направление и результат.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "intake": {
                      "type": "object",
                      "additionalProperties": true,
                      "properties": {
                        "sessionId": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "integer"
                        },
                        "status": {
                          "type": "string"
                        },
                        "deliveryStatus": {
                          "type": "string"
                        },
                        "referralId": {
                          "type": "string"
                        },
                        "result": {
                          "type": "object",
                          "additionalProperties": true,
                          "properties": {
                            "urgency": {
                              "type": "string"
                            },
                            "red_flags": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "additionalProperties": true,
                                "properties": {
                                  "code": {
                                    "type": "string"
                                  },
                                  "emergency": {
                                    "type": "boolean"
                                  },
                                  "evidence": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "intake": {
                    "sessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                    "createdAt": 1789897200000,
                    "status": "completed",
                    "deliveryStatus": "sent",
                    "referralId": "ref-demo-01",
                    "result": {
                      "urgency": "emergency",
                      "red_flags": [
                        {
                          "code": "chest_pain",
                          "emergency": true,
                          "evidence": "давящая боль в груди"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Сессия врача отсутствует или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Сессия врача отсутствует или истекла."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND: Запись скрыта или не существует; analyst получает тот же ответ.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "code": "NOT_FOUND",
                      "error": "Запись скрыта или не существует; analyst получает тот же ответ."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка чтения.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка чтения."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Рабочее пространство недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Рабочее пространство недоступно."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "workspace",
        "x-demeu-roles": [
          "owner",
          "doctor"
        ],
        "x-demeu-same-origin-required": false,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/referrals": {
      "get": {
        "operationId": "referralsList",
        "tags": [
          "referrals"
        ],
        "summary": "Список направлений",
        "description": "Возвращает доступные врачу карточки и принимает по одному фильтру текущего состояния и профиля.",
        "security": [
          {
            "WorkspaceCookie": []
          }
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "description": "Одно из: interviewed, specialist_referred, preparing, sent, waiting, scheduled, attended, not_attended.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile",
            "in": "query",
            "required": false,
            "description": "Один профиль. Пробелы обрезаются, регистр нормализуется по закрытому справочнику; неизвестное непустое значение даёт пустой список.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Направления в области текущего actor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "referrals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "patientLabel": {
                            "type": "string"
                          },
                          "profile": {
                            "type": "string"
                          },
                          "revision": {
                            "type": "integer"
                          },
                          "flow": {
                            "type": "string"
                          },
                          "scheduledDate": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "referrals": [
                    {
                      "id": "ref-demo-01",
                      "patientLabel": "CASE-NEURO-001",
                      "profile": "хирургический",
                      "revision": 3,
                      "flow": "preparing",
                      "scheduledDate": "2026-10-02"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Query-параметры не прошли строгую проверку.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "Query-параметры не прошли строгую проверку."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Сессия врача отсутствует или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Сессия врача отсутствует или истекла."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Роль не даёт доступа к персональным направлениям.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Роль не даёт доступа к персональным направлениям."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка чтения направлений.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка чтения направлений."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Рабочее пространство не настроено или недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Рабочее пространство не настроено или недоступно."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "workspace",
        "x-demeu-roles": [
          "owner",
          "doctor"
        ],
        "x-demeu-same-origin-required": false,
        "x-demeu-reject-unknown-query": true,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      },
      "post": {
        "operationId": "referralCreate",
        "tags": [
          "referrals"
        ],
        "summary": "Создать направление",
        "description": "Фиксирует профиль из справочника и при необходимости связывает завершённый опрос.",
        "security": [
          {
            "WorkspaceCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "patientLabel": {
                    "type": "string"
                  },
                  "profile": {
                    "type": "string"
                  },
                  "icd10Code": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "destinationOrganization": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "sourceSessionId": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "patientLabel",
                  "profile",
                  "idempotencyKey"
                ]
              },
              "example": {
                "patientLabel": "CASE-NEURO-001",
                "profile": "хирургический",
                "icd10Code": "K40.9",
                "destinationOrganization": "Городской стационар",
                "sourceSessionId": "a94648da-2d5e-4fe0-9010-72e972733850",
                "idempotencyKey": "ref-create-demo-01"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Созданная или идемпотентно повторённая карточка.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "referral"
                  ],
                  "properties": {
                    "referral": {
                      "$ref": "#/components/schemas/ReferralDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Тело или параметры не прошли строгую проверку.; SOURCE_SESSION_REQUIRED: Указанный опрос не принадлежит врачу или недоступен.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "Тело или параметры не прошли строгую проверку."
                    }
                  },
                  "SOURCE_SESSION_REQUIRED": {
                    "value": {
                      "code": "SOURCE_SESSION_REQUIRED",
                      "error": "Указанный опрос не принадлежит врачу или недоступен."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Сессия врача отсутствует или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Сессия врача отсутствует или истекла."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Роль или организация не дают доступа к операции.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Роль или организация не дают доступа к операции."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND: Запись не найдена в доступной области.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "code": "NOT_FOUND",
                      "error": "Запись не найдена в доступной области."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT: Карточка уже изменилась; загрузите свежую ревизию.; IDEMPOTENCY_CONFLICT: Ключ уже применён к другому изменению.; SOURCE_SESSION_NOT_COMPLETED: Связанный опрос ещё не завершён.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "REVISION_CONFLICT": {
                    "value": {
                      "code": "REVISION_CONFLICT",
                      "error": "Карточка уже изменилась; загрузите свежую ревизию."
                    }
                  },
                  "IDEMPOTENCY_CONFLICT": {
                    "value": {
                      "code": "IDEMPOTENCY_CONFLICT",
                      "error": "Ключ уже применён к другому изменению."
                    }
                  },
                  "SOURCE_SESSION_NOT_COMPLETED": {
                    "value": {
                      "code": "SOURCE_SESSION_NOT_COMPLETED",
                      "error": "Связанный опрос ещё не завершён."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE: Тело превышает серверный предел.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BODY_TOO_LARGE": {
                    "value": {
                      "code": "BODY_TOO_LARGE",
                      "error": "Тело превышает серверный предел."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка обработки запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка обработки запроса."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Рабочее пространство не настроено или недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Рабочее пространство не настроено или недоступно."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "workspace",
        "x-demeu-roles": [
          "owner",
          "doctor"
        ],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/referrals/{id}": {
      "get": {
        "operationId": "referralDetail",
        "tags": [
          "referrals"
        ],
        "summary": "Карточка направления",
        "description": "Собирает факты, историю, обследования и вычисленную комплектность на одной ревизии.",
        "security": [
          {
            "WorkspaceCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Полная карточка для врача.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "referral"
                  ],
                  "properties": {
                    "referral": {
                      "$ref": "#/components/schemas/ReferralDetail"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Сессия врача отсутствует или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Сессия врача отсутствует или истекла."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Analyst не получает персональную карточку.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Analyst не получает персональную карточку."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND: Направление не найдено в доступной области.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "code": "NOT_FOUND",
                      "error": "Направление не найдено в доступной области."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка чтения.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка чтения."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Рабочее пространство недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Рабочее пространство недоступно."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "workspace",
        "x-demeu-roles": [
          "owner",
          "doctor"
        ],
        "x-demeu-same-origin-required": false,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/referrals/{id}/events": {
      "post": {
        "operationId": "referralEvent",
        "tags": [
          "referrals"
        ],
        "summary": "Подтвердить изменение пути",
        "description": "Добавляет аудируемое врачебное событие; сервер требует ожидаемую ревизию и причину коррекции.",
        "security": [
          {
            "WorkspaceCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "expectedRevision": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "patch": {
                    "type": "object",
                    "additionalProperties": false,
                    "minProperties": 1,
                    "properties": {
                      "profile": {
                        "type": "string"
                      },
                      "icd10Code": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "specialistReferred": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      },
                      "preparationStarted": {
                        "type": "boolean"
                      },
                      "destinationOrganization": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "sent": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      },
                      "queue": {
                        "type": [
                          "boolean",
                          "null"
                        ]
                      },
                      "scheduledDate": {
                        "type": [
                          "string",
                          "null"
                        ],
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      },
                      "attendance": {
                        "enum": [
                          "attended",
                          "not_attended",
                          null
                        ]
                      },
                      "cancelled": {
                        "type": "boolean"
                      }
                    }
                  },
                  "reason": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "occurredAt": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "minimum": 0
                  }
                },
                "required": [
                  "expectedRevision",
                  "idempotencyKey",
                  "patch"
                ]
              },
              "example": {
                "expectedRevision": 3,
                "idempotencyKey": "event-demo-04",
                "patch": {
                  "specialistReferred": true,
                  "preparationStarted": true
                },
                "reason": "Подтверждено врачом",
                "occurredAt": 1789897800000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Карточка с новой ревизией и событием.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "referral"
                  ],
                  "properties": {
                    "referral": {
                      "$ref": "#/components/schemas/ReferralDetail"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "BAD_REQUEST: Тело или параметры не прошли строгую проверку.; ATTENDANCE_DATE_INVALID: Явку нельзя подтвердить раньше назначенной даты.; REASON_REQUIRED: Изменение требует объяснения врача.; SOURCE_SESSION_REQUIRED: Этап опроса требует связанной завершённой сессии.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BAD_REQUEST": {
                    "value": {
                      "code": "BAD_REQUEST",
                      "error": "Тело или параметры не прошли строгую проверку."
                    }
                  },
                  "ATTENDANCE_DATE_INVALID": {
                    "value": {
                      "code": "ATTENDANCE_DATE_INVALID",
                      "error": "Явку нельзя подтвердить раньше назначенной даты."
                    }
                  },
                  "REASON_REQUIRED": {
                    "value": {
                      "code": "REASON_REQUIRED",
                      "error": "Изменение требует объяснения врача."
                    }
                  },
                  "SOURCE_SESSION_REQUIRED": {
                    "value": {
                      "code": "SOURCE_SESSION_REQUIRED",
                      "error": "Этап опроса требует связанной завершённой сессии."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "UNAUTHORIZED: Сессия врача отсутствует или истекла.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "UNAUTHORIZED": {
                    "value": {
                      "code": "UNAUTHORIZED",
                      "error": "Сессия врача отсутствует или истекла."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "FORBIDDEN: Роль или организация не дают доступа к операции.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "FORBIDDEN": {
                    "value": {
                      "code": "FORBIDDEN",
                      "error": "Роль или организация не дают доступа к операции."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "NOT_FOUND: Запись не найдена в доступной области.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "NOT_FOUND": {
                    "value": {
                      "code": "NOT_FOUND",
                      "error": "Запись не найдена в доступной области."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "REVISION_CONFLICT: Карточка уже изменилась; загрузите свежую ревизию.; IDEMPOTENCY_CONFLICT: Ключ уже применён к другому изменению.; NO_CHANGES: Подтверждённые факты не изменились.; REFERRAL_CANCELLED: Сначала явно возобновите отменённое направление.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "REVISION_CONFLICT": {
                    "value": {
                      "code": "REVISION_CONFLICT",
                      "error": "Карточка уже изменилась; загрузите свежую ревизию."
                    }
                  },
                  "IDEMPOTENCY_CONFLICT": {
                    "value": {
                      "code": "IDEMPOTENCY_CONFLICT",
                      "error": "Ключ уже применён к другому изменению."
                    }
                  },
                  "NO_CHANGES": {
                    "value": {
                      "code": "NO_CHANGES",
                      "error": "Подтверждённые факты не изменились."
                    }
                  },
                  "REFERRAL_CANCELLED": {
                    "value": {
                      "code": "REFERRAL_CANCELLED",
                      "error": "Сначала явно возобновите отменённое направление."
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "BODY_TOO_LARGE: Тело превышает серверный предел.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "BODY_TOO_LARGE": {
                    "value": {
                      "code": "BODY_TOO_LARGE",
                      "error": "Тело превышает серверный предел."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL: Внутренняя ошибка обработки запроса.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "INTERNAL": {
                    "value": {
                      "code": "INTERNAL",
                      "error": "Внутренняя ошибка обработки запроса."
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "WORKSPACE_UNAVAILABLE: Рабочее пространство не настроено или недоступно.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "WORKSPACE_UNAVAILABLE": {
                    "value": {
                      "code": "WORKSPACE_UNAVAILABLE",
                      "error": "Рабочее пространство не настроено или недоступно."
                    }
                  }
                }
              }
            }
          }
        },
        "x-demeu-auth-kind": "workspace",
        "x-demeu-roles": [
          "owner",
          "doctor"
        ],
        "x-demeu-same-origin-required": true,
        "x-demeu-reject-unknown-query": false,
        "x-demeu-rate-limit": {
          "policy": "none"
        }
      }
    },
    "/api/referrals/{id}/examinations": {
      "post": {
        "operationId": "referralExamination",
        "tags": [
          "referrals"
        ],
        "summary": "Записать обследование",
        "description": "Сохраняет наличие, даты и применимость позиции, затем пересчитывает комплектность.",
        "security": [
          {
            "WorkspaceCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Path identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "expectedRevision": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "record": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "requirementId",
                      "label",
                      "resultAvailable",
                      "performedOn",
                      "expiresOn",
                      "applicability"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "requirementId": {
[...]
